<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<head>
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/reset.css">
    <script src="scripts/angular.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            $scope.years = [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016];
            $scope.show_more_info=false;
            $scope.current_index=-1;
            $scope.data = {
                "name" : "Vo Minh Quoc",
                "headline" : "Student at University of Science",
                "country" : "Viet Nam",
                "postalcode" : "72999",
                "industry" : "Program Development",
                "email" : "quoc.vominh1995@gmail.com",
                "im" : "quoc.vominh1995@gmail.com",
                "phone" : "01649136063",
                "address" : "725 Le Hong Phong, P12, Q10",
                "twitter" : "khanhlinh",
                "wechat" : "khanhlinh",
                "website" : "vetv.vn",
                "summary" : "Im A Boy",
                "experience" : [
                    {
                        "company-name" : "GENPACT",
                        "title" : "Research Assistant",
                        "imageurl" : "https://media.licdn.com/media/AAEAAQAAAAAAAAZNAAAAJGE4YzA0OTljLWNkNWQtNDk0ZS05Zjk0LTE3YmJiYmZmZmM2YQ.png",
                        "location" : "Viet Nam",
                        "start-year" : "2005",
                        "end-year" : "2009",
                        "description" : "fafs"
                    },
                    {
                        "company-name" : "GENPACT",
                        "title" : "Research Assistant",
                        "imageurl" : "https://media.licdn.com/media/AAEAAQAAAAAAAAZNAAAAJGE4YzA0OTljLWNkNWQtNDk0ZS05Zjk0LTE3YmJiYmZmZmM2YQ.png",
                        "location" : "Viet Nam",
                        "start-year" : "2005",
                        "end-year" : "2009",
                        "description" : "fafs"
                    }
                ],
                "education" : [
                    {
                        "school": "University of Science Ho Chi Minh City",
                        "imageurl" : "",
                        "start-year" : "2009",
                        "end-year" : "2011",
                        "degree" : "Master of Science",
                        "field" : "Computer Science"
                    },
                    {
                        "school": "Ho Chi Minh City",
                        "imageurl" : "",
                        "start-year" : "2009",
                        "end-year" : "2011",
                        "degree" : "Master of Science",
                        "field" : "Computer Science"
                    }
                ],
                "project" : [
                    {
                        "name" : "Project name",
                        "year" : "2004",
                        "imageurl" : "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAOhAAAAJDI2MzlmYmEyLWY4NmQtNDAwMy05OWE3LTg0NzI2ZTk0YzA4Mw.jpg",
                        "description" : "dsadasdasfasfas",
                        "occupation" : "fasfsafas"
                    },
                    {
                        "name" : "Project name",
                        "year" : "2004",
                        "imageurl" : "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAOhAAAAJDI2MzlmYmEyLWY4NmQtNDAwMy05OWE3LTg0NzI2ZTk0YzA4Mw.jpg",
                        "description" : "dsadasdasfasfas",
                        "occupation" : "fasfsafas"
                    }
                ]
            };
            $scope.form_info={
                "form1" : {"show" : false, "properties" : {"name":""}, "first-time" : "true"},
                "form2" : {"show" : false, "properties" : {"headline":""}, "first-time" : "true"},
                "form3" : {"show" : false, "properties" : {"country":"","postalcode":"","industry":""}, "first-time" : "true"},
                "form4" : {"show" : false, "properties" : {"email":""}, "first-time" : "true"},
                "form5" : {"show" : false, "properties" : {"im":""}, "first-time" : "true"},
                "form6" : {"show" : false, "properties" : {"phone":""}, "first-time" : "true"},
                "form7" : {"show" : false, "properties" : {"address":""}, "first-time" : "true"},
                "form8" : {"show" : false, "properties" : {"twitter":""}, "first-time" : "true"},
                "form9" : {"show" : false, "properties" : {"wechat":""}, "first-time" : "true"},
                "form10" : {"show" : false, "properties" : {"website":""}, "first-time" : "true"},
                "form11" : {"show" : false, "properties" : {"summary":""}, "first-time" : "true"},
                "form12" : {"show" : false, "properties" : {"company-name":"","title":"","location":"","start-year":"","end-year":"","imageurl":"","description":""}, "first-time" : "true"},
                "form13" : {"show" : false, "properties" : {"school":"","start-year":"","end-year":"","degree":"","field":""}, "first-time" : "true"},
                "form14" : {"show" : false, "properties" : {"name":"","occupation":"","year":"","imageurl":"","description":""}, "first-time" : "true"},
            };
            $scope.open_form=function(form_name){
                $scope.form_info[form_name]["show"] = true;
            };
            $scope.close_form=function(form_name){
                $scope.form_info[form_name]["show"] = false;
            };
            $scope.edit=function(form_name,element,index){
                $scope.current_index = index;
                $scope.open_form(form_name);
                if(typeof element === "undefined"){
                    if($scope.form_info[form_name]["first-time"]){
                        for(var property in $scope.form_info[form_name]["properties"])
                            $scope.form_info[form_name]["properties"][property] = $scope.data[property];
                        $scope.form_info[form_name]["first-time"]=false;
                    }
                }
                else{
                    if(index > $scope.data[element].length-1) {
                        for(var property in $scope.form_info[form_name]["properties"])
                            $scope.form_info[form_name]["properties"][property] = "";
                        return;
                    }
                    for(var property in $scope.form_info[form_name]["properties"])
                            $scope.form_info[form_name]["properties"][property] = $scope.data[element][index][property];
                }
            };
            $scope.save = function(form_name,element){
                $scope.close_form(form_name);
                if(typeof element === "undefined") {
                    for (var property in $scope.form_info[form_name]["properties"])
                        $scope.data[property] = $scope.form_info[form_name]["properties"][property];
                }
                else{
                    if($scope.current_index > $scope.data[element].length-1){
                        var newobj = {};
                        for(var property in $scope.form_info[form_name]["properties"])
                            newobj[property] = $scope.form_info[form_name]["properties"][property];
                        newobj["id"] = $scope.current_index;
                        $scope.data[element].push(newobj);
                        return;
                    }
                    for(var property in $scope.form_info[form_name]["properties"])
                        $scope.data[element][$scope.current_index][property] = $scope.form_info[form_name]["properties"][property];
                }
            };
            $scope.getelement = function(element){
                var res = [];
                for (var i = 0; i < $scope.data[element].length; ++i) {
                    res.push($scope.data[element][i]);
                }
                return res;
            };
            $scope.cancel = function(form_name){
                $scope.close_form(form_name);
            };
            $scope.delete = function(form_name,element){
                $scope.close_form(form_name);
                if($scope.current_index < $scope.data[element].length)
                    $scope.data[element].splice($scope.current_index, 1);
            }
        });
    </script>
    <link rel="shortcut icon" href="images/linkedin.png" />
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Edit Profile | LinkedIn</title>
</head>
<body>
<div class="container">
    <div class="profile-top-card">
        <div class="profile-card">
            <div class="profile-card__wrap-profile-picture profile-picture">
                <img class="profile-picture__myimage" src="images/myimage.jpg" width="200" height="200" alt="MYIMAGE.JPG">
                <button class="profile-picture__buttonchange">
                    <i class="profile-picture__buttonchangeicon fa fa-camera" aria-hidden="true"></i><!--
                    --><span class="profile-picture__buttonchangetext">Change photo</span>
                </button>
            </div>
            <div class="profile-card__wrap-profile-overview profile-overview">
                <div class="profile-overview__content">
                    <div class="profile-overview__member">
                        <div class="profile-overview__account-icons"></div>
                        <div class="profile-overview__basic-info">
                            <div class="profile-overview__fullname">
                                <div class="profile-overview__wrap-editable-item editable-item editable-item--first">
                                    <div class="editable-item__field">
                                            <span class="editable-item__field-text editable-item__field-text--bigtext">
                                                <span class="editable-item__text" ng-bind="data['name']"></span><!--
                                            --></span><!--
                                        --><button class="editable-item__editbutton editable-item__editbutton--bigbutton" ng-click="edit('form1')">
                                            <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <form class="editable-item__wrap-editform editform" ng-show="form_info['form1']['show']">
                                        <p class="editform__row editform__row--firstrow">
                                            <label class="editform__label" for="">Name</label>
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__input" type="text" ng-model="form_info['form1']['properties']['name']">
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__submit editform__submit--save" type="submit" value="Save" ng-click="save('form1');"><!--
                                            --><input class="editform__submit editform__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form1');">
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <div class="profile-overview__headline">
                                <div class="profile-overview__wrap-editable-item editable-item">
                                    <div class="editable-item__field">
                                            <span class="editable-item__field-text editable-item__field-text--normaltext">
                                                <span class="editable-item__text" ng-bind="data['headline']"></span><!--
                                            --></span><!--
                                        --><button class="editable-item__editbutton editable-item__editbutton--normalbutton" ng-click="edit('form2');">
                                            <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <form class="editable-item__wrap-editform editform" ng-show="form_info['form2']['show']">
                                        <p class="editform__row">
                                            <label class="editform__label" for="">Your professional headline</label>
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__input" type="text" ng-model="form_info['form2']['properties']['headline']">
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__submit editform__submit--save" type="submit" value="Save" ng-click="save('form2');">
                                            <input class="editform__submit editform__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form2');">
                                        </p>
                                    </form>
                                </div>
                            </div>

                            <div class="profile-overview__location">
                                <div class="profile-overview__wrap-editable-item editable-item">
                                    <div class="editable-item__field">
                                        <dl class="editable-item__field-text editable-item__field-text--inlinelist editable-item__field-text--smalltext"><!--
                                                --><dt class="editable-item__listitem editable-item__listitem--hide">Location</dt><!--
                                                --><dd class="editable-item__listitem editable-item__listitem--inlineblock editable-item__listitem--first" ng-bind="data['country']"></dd><!--
                                                --><dt class="editable-item__listitem editable-item__listitem--hide">Industry</dt><!--
                                                --><dd class="editable-item__listitem editable-item__listitem--inlineblock editable-item__listitem--last" ng-bind="data['industry']">Program Development</dd><!--
                                            --></dl><!--
                                        --><button class="editable-item__editbutton editable-item__editbutton--smallbutton" ng-click="edit('form3');">
                                            <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <form class="editable-item__wrap-editform editform" ng-show="form_info['form3']['show']">
                                        <p class="editform__row">
                                            <label class="editform__label" for="">Country</label>
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__input" type="text" ng-model="form_info['form3']['properties']['country']">
                                        </p>
                                        <p class="editform__row">
                                            <label class="editform__label" for="">Postal code</label>
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__input" type="text" ng-model="form_info['form3']['properties']['postalcode']">
                                        </p>
                                        <p class="editform__row">
                                            <label class="editform__label" for="">Industry</label>
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__input" type="text" ng-model="form_info['form3']['properties']['industry']">
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__submit editform__submit--save" type="submit" value="Save" ng-click="save('form3')">
                                            <input class="editform__submit editform__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form3')">
                                        </p>
                                    </form>
                                </div>
                            </div>

                            <div class="profile-overview__previous">
                                <div class="profile-overview__wrap-editable-item editable-item">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th class="editable-item__tableheader editable-item__field-text--smalltext">Previous</th>
                                            <td>
                                                <div class="editable-item__field">
                                                    <ol class="editable-item__field-text editable-item__field-text--inlinelist editable-item__field-text--normaltext">
                                                        <li class="editable-item__listitem editable-item__listitem--inlineblock">GENPAC,</li><!--
                                                            --><li class="editable-item__listitem editable-item__listitem--inlineblock">GENPAC,</li><!--
                                                            --><li class="editable-item__listitem editable-item__listitem--inlineblock">GENPAC,</li><!--
                                                            --><li class="editable-item__listitem editable-item__listitem--inlineblock">GENPAC</li>
                                                    </ol><!--
                                                        --><button class="editable-item__editbutton editable-item__editbutton--normalbutton">
                                                        <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="profile-overview__current">
                                <div class="profile-overview__wrap-editable-item editable-item">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th class="editable-item__tableheader editable-item__field-text--smalltext">Current</th>
                                            <td>
                                                <div class="editable-item__field">
                                                    <ol class="editable-item__field-text editable-item__field-text--inlinelist editable-item__field-text--normaltext">
                                                        <li class="editable-item__listitem editable-item__listitem--inlineblock">GENPAC,</li><!--
                                                            --><li class="editable-item__listitem editable-item__listitem--inlineblock">GENPAC,</li><!--
                                                            --><li class="editable-item__listitem editable-item__listitem--inlineblock">GENPAC,</li><!--
                                                            --><li class="editable-item__listitem editable-item__listitem--inlineblock">GENPAC</li>
                                                    </ol><!--
                                                        --><button class="editable-item__editbutton editable-item__editbutton--normalbutton">
                                                        <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="profile-overview__education">
                                <div class="profile-overview__wrap-editable-item editable-item">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th class="editable-item__tableheader editable-item__field-text--smalltext">Education</th>
                                            <td>
                                                <div class="editable-item__field">
                                                    <ol class="editable-item__field-text editable-item__field-text--inlinelist editable-item__field-text--normaltext">
                                                        <li class="editable-item__listitem editable-item__listitem--inlineblock">GENPAC</li>
                                                    </ol><!--
                                                        --><button class="editable-item__editbutton editable-item__editbutton--normalbutton">
                                                        <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="profile-overview__profileaux">
                                <div class="profile-overview__profileactions">
                                    <button class="profile-overview__buttonviewprofileas">View Profile As</button>
                                    <div class="profile-overview__moreoptions">
                                        <i class="profile-overview__moreoptionsicon fa fa-caret-down" aria-hidden="true"></i>
                                        <ul class="profile-overview__moreoptionslist">
                                            <li class="profile-overview__moreoptionslistitem"><a class="profile-overview__moreoptionslistlink" href="">View recent activity</a></li>
                                            <li class="profile-overview__moreoptionslistitem"><a class="profile-overview__moreoptionslistlink" href="">Ask to be recommended</a></li>
                                            <li class="profile-overview__moreoptionslistitem"><a class="profile-overview__moreoptionslistlink" href="">Create profile in another language</a></li>
                                            <li class="profile-overview__moreoptionslistitem"><a class="profile-overview__moreoptionslistlink" href="">Save to PDF</a></li>
                                            <li class="profile-overview__moreoptionslistitem"><a class="profile-overview__moreoptionslistlink" href="">Manage public profile settings</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="profile-overview__memberconnections">
                                    <strong>2</strong> connections
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-card-extras">
            <div class="profile-card-extras__wrap-contact-info contact-info" ng-show="show_more_info">
                <div class="contact-info__visible-to-your-connection">
                    <h3 class="contact-info__title">Visible to your connections</h3>
                    <table class="contact-info__online-contact" style="border-collapse: separate; border-spacing: 0 5px;">
                        <tbody>
                            <tr>
                                <th class="editable-item__tableheader editable-item__field-text--smalltext">Email</th>
                                <td class="profile-overview__wrap-editable-item editable-item">
                                    <div class="editable-item__field">
                                        <span class="editable-item__field-text editable-item__field-text--smalltext">
                                            <span class="editable-item__text" ng-bind="data['email']"></span>
                                        </span>
                                        <button class="editable-item__editbutton editable-item__editbutton--smallbutton" ng-click="edit('form4');">
                                            <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <form class="editable-item__wrap-editform editform" ng-show="form_info['form4']['show']">
                                        <p class="editform__row">
                                            <label class="editform__label" for="">Email</label>
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__input" type="text" ng-model="form_info['form4']['properties']['email']">
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__submit editform__submit--save" type="submit" value="Save" ng-click="save('form4');">
                                            <input class="editform__submit editform__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form4');">
                                        </p>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <th class="editable-item__tableheader editable-item__field-text--smalltext">IM</th>
                                <td class="profile-overview__wrap-editable-item editable-item">
                                    <div class="editable-item__field">
                                        <span class="editable-item__field-text editable-item__field-text--smalltext">
                                            <span class="editable-item__text" ng-bind="data['im']"></span>
                                        </span>
                                        <button class="editable-item__editbutton editable-item__editbutton--smallbutton" ng-click="edit('form5');">
                                            <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <form class="editable-item__wrap-editform editform" ng-show="form_info['form5']['show']">
                                        <p class="editform__row">
                                            <label class="editform__label" for="">IM</label>
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__input" type="text" ng-model="form_info['form5']['properties']['im']">
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__submit editform__submit--save" type="submit" value="Save" ng-click="save('form5');">
                                            <input class="editform__submit editform__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form5');">
                                        </p>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="contact-info__contact-info" style="border-collapse: separate; border-spacing: 0 5px;">
                        <tbody>
                            <tr>
                                <th class="editable-item__tableheader editable-item__field-text--smalltext">Phone</th>
                                <td class="profile-overview__wrap-editable-item editable-item">
                                    <div class="editable-item__field">
                                            <span class="editable-item__field-text editable-item__field-text--smalltext">
                                                <span class="editable-item__text" ng-bind="data['phone']"></span>
                                            </span>
                                        <button class="editable-item__editbutton editable-item__editbutton--smallbutton" ng-click="edit('form6');">
                                            <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <form class="editable-item__wrap-editform editform" ng-show="form_info['form6']['show']">
                                        <p class="editform__row">
                                            <label class="editform__label" for="">Phone</label>
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__input" type="text" ng-model="form_info['form6']['properties']['phone']">
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__submit editform__submit--save" type="submit" value="Save" ng-click="save('form6');">
                                            <input class="editform__submit editform__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form6');">
                                        </p>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <th class="editable-item__tableheader editable-item__field-text--smalltext">Address</th>
                                <td class="profile-overview__wrap-editable-item editable-item">
                                    <div class="editable-item__field">
                                            <span class="editable-item__field-text editable-item__field-text--smalltext">
                                                <span class="editable-item__text" ng-bind="data['address']"></span>
                                            </span>
                                        <button class="editable-item__editbutton editable-item__editbutton--smallbutton" ng-click="edit('form7');">
                                            <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <form class="editable-item__wrap-editform editform" ng-show="form_info['form7']['show']">
                                        <p class="editform__row">
                                            <label class="editform__label" for="">Address</label>
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__input" type="text" ng-model="form_info['form7']['properties']['address']">
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__submit editform__submit--save" type="submit" value="Save" ng-click="save('form7');">
                                            <input class="editform__submit editform__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form7');">
                                        </p>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfloat"></div>
                </div>
                <div class="contact-info__visible-to-everyone">
                    <h3 class="contact-info__title">Visible to everyone on LinkedIn</h3>
                    <table style="border-collapse: separate; border-spacing: 0 5px;">
                        <tbody>
                            <tr>
                                <th class="editable-item__tableheader editable-item__field-text--smalltext">Twitter</th>
                                <td class="profile-overview__wrap-editable-item editable-item">
                                    <div class="editable-item__field">
                                            <span class="editable-item__field-text editable-item__field-text--smalltext">
                                                <span class="editable-item__text" ng-bind="data['twitter']"></span>
                                            </span>
                                        <button class="editable-item__editbutton editable-item__editbutton--smallbutton" ng-click="edit('form8');">
                                            <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <form class="editable-item__wrap-editform editform" ng-show="form_info['form8']['show']">
                                        <p class="editform__row">
                                            <label class="editform__label" for="">Twitter</label>
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__input" type="text" ng-model="form_info['form8']['properties']['twitter']">
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__submit editform__submit--save" type="submit" value="Save" ng-click="save('form8');">
                                            <input class="editform__submit editform__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form8');">
                                        </p>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <th class="editable-item__tableheader editable-item__field-text--smalltext">WeChat</th>
                                <td class="profile-overview__wrap-editable-item editable-item">
                                    <div class="editable-item__field">
                                            <span class="editable-item__field-text editable-item__field-text--smalltext">
                                                <span class="editable-item__text" ng-bind="data['wechat']"></span>
                                            </span>
                                        <button class="editable-item__editbutton editable-item__editbutton--smallbutton" ng-click="edit('form9');">
                                            <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                        <form class="editable-item__wrap-editform editform" ng-show="form_info['form9']['show']">
                                            <p class="editform__row">
                                                <label class="editform__label" for="">WeChat</label>
                                            </p>
                                            <p class="editform__row">
                                                <input class="editform__input" type="text" ng-model="form_info['form9']['properties']['wechat']">
                                            </p>
                                            <p class="editform__row">
                                                <input class="editform__submit editform__submit--save" type="submit" value="Save" ng-click="save('form9');">
                                                <input class="editform__submit editform__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form9');">
                                            </p>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="editable-item__tableheader editable-item__field-text--smalltext">Website</th>
                                <td class="profile-overview__wrap-editable-item editable-item">
                                    <div class="editable-item__field">
                                            <span class="editable-item__field-text editable-item__field-text--smalltext">
                                                <span class="editable-item__text" ng-bind="data['website']"></span>
                                            </span>
                                        <button class="editable-item__editbutton editable-item__editbutton--smallbutton" ng-click="edit('form10');">
                                            <i class="editable-item__editicon fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <form class="editable-item__wrap-editform editform" ng-show="form_info['form10']['show']">
                                        <p class="editform__row">
                                            <label class="editform__label" for="">Website</label>
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__input" type="text" ng-model="form_info['form10']['properties']['website']">
                                        </p>
                                        <p class="editform__row">
                                            <input class="editform__submit editform__submit--save" type="submit" value="Save" ng-click="save('form10');">
                                            <input class="editform__submit editform__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form10');">
                                        </p>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="profile-card-extras__wrap-profile-actions profile-actions">
                <div class="profile-actions__public-profile">
                    <h5 class="profile-actions__linkedin-mylink">
                        <i class="profile-actions__linkedin-icon fa fa-linkedin-square" aria-hidden="true"></i><!--
                        --><span class="profile-actions__linkedin-link">https://vn.linkedin.com/in/quoc-vo-minh-98492a101</span>
                    </h5>
                </div>
                <div class="profile-actions__show-more-info">
                    <button class="profile-actions__button-show-more-info" ng-click="show_more_info=!show_more_info">
                        <i class="profile-actions__button-show-more-info-icon fa fa-folder-open" aria-hidden="true"></i>
                        <span class="profile-actions__button-show-more-info-text">Contact Info</span>
                    </button>
                </div>
                <div class="clearfloat"></div>
            </div>
        </div>
    </div>
    <div class="background">
        <div class="background__section">
            <div class="background__section-header">
                <h1 class="background__text background__text--section">Summary</h1>
            </div>
            <form class="background__editform" ng-show="form_info['form11']['show']">
                <p class="background__row">
                    <label class="background__label" for="">Description</label>
                </p>
                <p class="background__row">
                    <textarea class="background__input" cols="30" rows="10" required ng-model="form_info['form11']['properties']['summary']"></textarea>
                </p>
                <p class="background__row">
                    <input class="background__submit background__submit--save" type="submit" value="Save" ng-click="save('form11');">
                    <input class="background__submit background__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form11');">
                </p>
            </form>
            <div class="background__content">
                <div class="background__box">
                    <div class="background__body">
                        <p class="background__text background__text--description" ng-bind="data['summary']"></p>
                    </div>
                    <button class="background__button background__editbutton" ng-click="edit('form11');">Edit Box</button>
                </div>
            </div>
        </div>
        <div class="background__section">
            <div class="background__section-header">
                <h1 class="background__text background__text--section">Experience</h1>
                <button class="background__button background__addbutton" ng-click="edit('form12','education',data['experience'].length);">Add Box</button>
            </div>
            <form class="background__editform" ng-show="form_info['form12']['show']">
                <p class="background__row">
                    <label class="background__label" for="">Company Name</label>
                </p>
                <p class="background__row">
                    <input class="background__input" type="text" required ng-model="form_info['form12']['properties']['company-name']">
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Title</label>
                </p>
                <p class="background__row">
                    <input class="background__input" type="text" required ng-model="form_info['form12']['properties']['title']">
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Location</label>
                </p>
                <p class="background__row">
                    <input class="background__input" type="text" required ng-model="form_info['form12']['properties']['location']">
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Image Url</label>
                </p>
                <p class="background__row">
                    <input class="background__input" type="text" required ng-model="form_info['form12']['properties']['imageurl']">
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Time Period</label>
                </p>
                <p class="background__row">
                    <select ng-model="form_info['form12']['properties']['start-year']">
                        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                    <select ng-model="form_info['form12']['properties']['end-year']">
                        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Description</label>
                </p>
                <p class="background__row">
                    <textarea class="background__input" cols="30" rows="10" required ng-model="form_info['form12']['properties']['description']"></textarea>
                </p>
                <p class="background__row">
                    <input class="background__submit background__submit--save" type="submit" value="Save" ng-click="save('form12','experience');">
                    <input class="background__submit background__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form12');">
                    <input class="background__submit background__submit--delete" type="submit" value="Delete" ng-click="delete('form12','experience');">
                </p>
            </form>
            <div class="background__content" ng-repeat="experience in data['experience']">
                <div class="background__box" last-child="{{$last}}">
                    <div class="background__header">
                        <div class="background__left">
                            <p class="background__text background__text--header" ng-bind="experience['title']"></p>
                            <p class="background__text background__text--subheader" ng-bind="experience['company-name']"></p>
                        </div>
                        <div class="background__right">
                            <img class="background__logo"  width="60" height="60" alt="" ng-show="experience['imageurl']" ng-src="{{experience['imageurl']}}">
                        </div>
                        <div class="clearfloat"></div>
                    </div>
                    <div class="background__body">
                        <p class="background__text background__text--date" ng-bind="experience['start-year']+' - '+experience['end-year']"></p>
                        <p class="background__text background__text--description" ng-bind="experience['description']"></p>
                    </div>
                    <button class="background__button background__editbutton" ng-click="edit('form12','experience',$index);">Edit Box</button>
                </div>
            </div>
        </div>
        <div class="background__section">
            <div class="background__section-header">
                <h1 class="background__text background__text--section">Education</h1>
                <button class="background__button background__addbutton" ng-click="edit('form13','education',data['education'].length);">Add Box</button>
            </div>
            <form class="background__editform" ng-show="form_info['form13']['show']">
                <p class="background__row">
                    <label class="background__label" for="">School</label>
                </p>
                <p class="background__row">
                    <input class="background__input" type="text" required ng-model="form_info['form13']['properties']['school']">
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Image Url</label>
                </p>
                <p class="background__row">
                    <input class="background__input" type="text" required ng-model="form_info['form13']['properties']['imageurl']">
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Dates Attended</label>
                </p>
                <p class="background__row">
                    <select ng-model="form_info['form13']['properties']['start-year']">
                        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                    <select ng-model="form_info['form13']['properties']['end-year']">
                        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Degree</label>
                </p>
                <p class="background__row">
                    <input class="background__input" type="text" required ng-model="form_info['form13']['properties']['degree']">
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Field of Study</label>
                </p>
                <p class="background__row">
                    <input class="background__input" type="text" required ng-model="form_info['form13']['properties']['field']">
                </p>
                <p class="background__row">
                    <input class="background__submit background__submit--save" type="submit" value="Save" ng-click="save('form13','education');">
                    <input class="background__submit background__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form13');">
                    <input class="background__submit background__submit--delete" type="submit" value="Delete" ng-click="delete('form13','school');">
                </p>
            </form>
            <div class="background__content" ng-repeat="education in data['education']">
                <div class="background__box" last-child="{{$last}}">
                    <div class="background__header">
                        <div class="background__left">
                            <p class="background__text background__text--header" ng-bind="education['school']"></p>
                            <p class="background__text background__text--subheader" ng-bind="education['degree']+', '+education['field']"></p>
                        </div>
                        <div class="background__right">
                            <img class="background__logo"  width="60" height="60" alt="" ng-show="education['imageurl']" ng-src="{{education['imageurl']}}">
                        </div>
                        <div class="clearfloat"></div>
                    </div>
                    <div class="background__body">
                        <p class="background__text background__text--date" ng-bind="education['start-year']+' - '+education['end-year']"></p>
                    </div>
                    <button class="background__button background__editbutton" ng-click="edit('form13','education',$index);">Edit Box</button>
                </div>
            </div>
        </div>
        <div class="background__section">
            <div class="background__section-header">
                <h1 class="background__text background__text--section">Projects</h1>
                <button class="background__button background__addbutton" ng-click="edit('form14','project',data['project'].length);">Add Box</button>
            </div>
            <form class="background__editform" ng-show="form_info['form14']['show']">
                <p class="background__row">
                    <label class="background__label" for="">Name</label>
                </p>
                <p class="background__row">
                    <input class="background__input" type="text" required ng-model="form_info['form14']['properties']['name']">
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Occupation</label>
                </p>
                <p class="background__row">
                    <input class="background__input" type="text" required ng-model="form_info['form14']['properties']['occupation']">
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Year</label>
                </p>
                <p class="background__row">
                    <select ng-model="form_info['form14']['properties']['year']">
                        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Image Url</label>
                </p>
                <p class="background__row">
                    <input class="background__input" type="text" required ng-model="form_info['form14']['properties']['imageurl']">
                </p>
                <p class="background__row">
                    <label class="background__label" for="">Description</label>
                </p>
                <p class="background__row">
                    <textarea class="background__input" cols="30" rows="10" required ng-model="form_info['form14']['properties']['description']"></textarea>
                </p>
                <p class="background__row">
                    <input class="background__submit background__submit--save" type="submit" value="Save" ng-click="save('form14','project');">
                    <input class="background__submit background__submit--cancel" type="submit" value="Cancel" ng-click="cancel('form14');">
                    <input class="background__submit background__submit--delete" type="submit" value="Delete" ng-click="delete('form14','project');">
                </p>
            </form>
            <div class="background__content" ng-repeat="project in data['project']">
                <div class="background__box" last-child="{{$last}}">
                    <div class="background__header">
                        <div class="background__left">
                            <p class="background__text background__text--header" ng-bind="project['name']"></p>
                            <p class="background__text background__text--date" ng-bind="project['year']"></p>
                        </div>
                        <div class="background__right">
                            <img class="background__logo"  width="60" height="60" alt="" ng-show="project['imageurl']" ng-src="{{project['imageurl']}}">
                        </div>
                        <div class="clearfloat"></div>
                    </div>
                    <div class="background__body">
                        <p class="background__text background__text--description" ng-bind="project['description']"></p>
                    </div>
                    <button class="background__button background__editbutton" ng-click="edit('form14','project',$index);">Edit Box</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>