<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<head>
    <meta charset="UTF-8">
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-sanitize.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="style.css">
    <title>Edit Profile | LinkedIn</title>
</head>
<body>
    <div class="container">
        <div class="profile-top-card">
            <div class="profile-card">
                <div class="profile-picture">
                    <img class="myimage" src="images/myimage.jpg"  alt="">
                    <button class="change-photo">
                        <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
                        <span>Change photo</span>
                    </button>
                </div>
                <div class="profile-overview">
                    <div class="profile-overview-content">
                        <div class="member">
                            <div class="account-icons"></div>
                            <div class="basic-info">
                                <div class="fullname-container">
                                    <div class="fullname" class="editable-item">
                                        <h1 class="field">
                                            <span class="field-text">
                                                <span class="fullname">Vo Minh Quoc</span>
                                            </span>
                                            <button class="edit-field-button" ng-click="showedit();">
                                                <i class="edit-field-icon fa fa-pencil" aria-hidden="true"></i>
                                            </button>
                                        </h1>
                                        <form class="fullname-edit" class="edit-form" ng-show="show">
                                            <p>
                                                <label for="">Name</label>
                                            </p>
                                            <p>
                                                <input type="text">
                                            </p>
                                            <p>
                                                <input type="submit" value="Save" ng-click="">
                                                <input type="submit" value="Cancel" ng-click="">
                                            </p>
                                        </form>
                                    </div>
                                </div>
                                <div class="headline-container">
                                    <div class="headline" class="editable-item">
                                        <div class="field">
                                            <span class="field-text">
                                                <span class="headline">Student at University of Science</span>
                                            </span>
                                            <button class="edit-field-button" ng-click="showedit();">
                                                <i class="edit-field-icon fa fa-pencil" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <form class="headline-edit" class="edit-form" ng-show="show">
                                            <p>
                                                <label for="">Your professional headline</label>
                                            </p>
                                            <p>
                                                <input type="text">
                                            </p>
                                            <p>
                                                <input type="submit" value="Save" ng-click="">
                                                <input type="submit" value="Cancel" ng-click="">
                                            </p>
                                        </form>
                                    </div>
                                </div>
                                <div class="location-container">
                                    <div class="location" class="editable-item">
                                        <div class="field">
                                            <dl class="field-text">
                                                <dt>Location</dt>
                                                <dd>Viet Nam</dd>
                                                <dt>Industry</dt>
                                                <dd>Program Development</dd>
                                            </dl>
                                            <button class="edit-field-button" ng-click="showedit();">
                                                <i class="edit-field-icon fa fa-pencil" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <table>
                                    <tbody>
                                        <tr class="overview-summary-past">
                                            <th>Previous</th>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>